style: github
template: CHANGELOG.tpl.md
info:
  title: CHANGELOG
  repository_url: https://github.com/Kong/kong-python-pdk
options:
  sort: "semver"
  commits:
     filters:
       Type:
         - feat
         - fix
         - refactor
  commit_groups:
     title_maps:
       feat: Features
       fix: Bug Fixes
       perf: Performance Improvements
       refactor: Code Refactoring
  header:
    pattern: "^(\\w*)(?:\\([\\w\\$\\.\\-\\*\\s\\/]*\\)|:)?\\s(.*)$"
    pattern_maps:
      - Type
      - Subject
  notes:
    keywords:
      - BREAKING CHANGE
